<!--需要启动多个乌龟GUI节点-->
<launch>

    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim"/>
    <!--名称remap-->
    <node pkg="turtlesim" type="turtlesim_node" name="t1"/>
    <node pkg="turtlesim" type="turtlesim_node" name="t2"/>

    <!--namespace-->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" ns="666"/>

    <!--remap+namespace-->
    <node pkg="turtlesim" type="turtlesim_node" name="t2" ns="888"/>




</launch>